.formContainer {
  display: grid;
  row-gap: 1em;
  justify-content: center;
}

.submitButton {
  background-color: var(--background-color-secondary);
  border: 1px solid var(--contrast-color);
  font-size: 0.8em;
  white-space: nowrap;
  display: grid;
  justify-content: center;
  color: var(--text-color-primary);
  cursor: pointer;
}

.formContainer input {
  background-color: var(--background-color-secondary);
  color: var(--text-color-primary);
  border: none;
  height: 2em;
}
