.container {
  display: grid;
  justify-content: center;
}

.songItemContainer {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.likeButton {
  justify-self: end;
  padding-left: 1em;
  font-size: 0.7em;
}

.list {
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 1.2em;
}
