.container {
  display: grid;
  justify-content: center;
}

.songItemContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "song"
    "song";
  align-items: center;
}

.aContainer {
  grid-area: song;
}

.likeButton {
  justify-self: end;
  padding-left: 1em;
  font-size: 0.7em;
}

.list {
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 1.2em;
}

.likedImg {
  width: 7em;
  border-radius: 100%;
}

.likedImgContainer {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1em;
}
