.container {
  display: grid;
  margin-left: 1em;
  justify-content: center;
}

.container p {
  margin: 0;
}

.header {
  display: grid;
  grid-template-columns: 1em auto;
}

.header span {
  justify-self: center;
}
