.container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-self: center;
  justify-items: center;
  margin-top: 1em;
  margin-bottom: 0.7em;
  width: 12em;
}

.plus {
  width: 2.4em;
  cursor: pointer;
}

.heart {
  width: 2.2em;
  cursor: pointer;
}

.share {
  width: 1.8em;
  cursor: pointer;
}
